@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ropa+Sans&display=swap');


:root {
    --header-height: 3rem;
    --nav-width: 75px;
    --first-color: #121522;
    --first-color-light: #ab96ff;
    --white-color: #ffffff;
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 0.87rem;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s;
    background-color: #111827;
}

a {
    text-decoration: none
}

.header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    transition: .5s;
    color: white;
}

.header_toggle {
    color: white;
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

.main {
    font-size: 1.2rem;
}

.titles {
    color: var(--first-color-light);
    font-family: 'Ropa Sans', sans-serif;
    ;
}


@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}





/* Loader */

:root {
    --bg: #e3e4e8;
    --fg: #17181c;
    --dur: 8s;
}

.loading-container {
    color: var(--fg);
    font: bold 1em/1.5 "Comfortaa", sans-serif;
    display: grid;
    place-items: center;
    align-content: center;
    height: 40vh;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.hexagon {
    margin-bottom: 1.5em;
    overflow: hidden;
    position: relative;
    width: 15em;
    height: 15em;
}

.hexagon__group,
.hexagon__sector,
.hexagon__sector:before,
.hexagon__sector:after {
    position: absolute;
}

.hexagon__group {
    width: 100%;
    height: 100%;
}

.hexagon__group:nth-child(2) .hexagon__sector,
.hexagon__group:nth-child(2) .hexagon__sector:before,
.hexagon__group:nth-child(2) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -1/6);
}

.hexagon__group:nth-child(3) .hexagon__sector,
.hexagon__group:nth-child(3) .hexagon__sector:before,
.hexagon__group:nth-child(3) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -2/6);
}

.hexagon__group:nth-child(4) .hexagon__sector,
.hexagon__group:nth-child(4) .hexagon__sector:before,
.hexagon__group:nth-child(4) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -3/6);
}

.hexagon__group:nth-child(5) .hexagon__sector,
.hexagon__group:nth-child(5) .hexagon__sector:before,
.hexagon__group:nth-child(5) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -4/6);
}

.hexagon__group:nth-child(6) .hexagon__sector,
.hexagon__group:nth-child(6) .hexagon__sector:before,
.hexagon__group:nth-child(6) .hexagon__sector:after {
    animation-delay: calc(var(--dur) * -5/6);
}

.hexagon__group:nth-child(odd) {
    transform: rotate(30deg);
}

.hexagon__sector,
.hexagon__sector:before,
.hexagon__sector:after {
    animation-duration: var(--dur);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*animation-play-state: paused;*/
    width: 0.2em;
    height: 0.2em;
}

.hexagon__sector {
    animation-name: moveOut1;
    top: calc(50% - 0.1em);
    left: calc(50% - 0.1em);
}

.hexagon__sector:nth-child(2) {
    animation-name: moveOut2;
}

.hexagon__sector:nth-child(3) {
    animation-name: moveOut3;
}

.hexagon__sector:nth-child(4) {
    animation-name: moveOut4;
}

.hexagon__sector:nth-child(5) {
    animation-name: moveOut5;
}

.hexagon__sector:nth-child(6) {
    animation-name: moveOut6;
}

.hexagon__sector:before,
.hexagon__sector:after {
    animation-name: ripple;
    background-color: currentColor;
    border-radius: 0.1em;
    content: "";
    display: block;
    top: 0;
    left: 0;
    transform-origin: 0.1em 0.1em;
}

.hexagon__sector:before {
    transform: rotate(-30deg)
}

.hexagon__sector:after {
    transform: rotate(-150deg)
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: #17181c;
        --fg: #ab96ff;
    }
}

/* Animations */
@keyframes moveOut1 {
    from {
        transform: translateY(0) scale(0);
    }

    3% {
        transform: translateY(0.2em) scale(1);
    }

    97% {
        transform: translateY(7.3em) scale(1);
    }

    to {
        transform: translateY(7.5em) scale(0);
    }
}

@keyframes moveOut2 {
    from {
        transform: rotate(60deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(60deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(60deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(60deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut3 {
    from {
        transform: rotate(120deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(120deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(120deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(120deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut4 {
    from {
        transform: rotate(180deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(180deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(180deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(180deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut5 {
    from {
        transform: rotate(240deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(240deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(240deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(240deg) translateY(7.5em) scale(0);
    }
}

@keyframes moveOut6 {
    from {
        transform: rotate(300deg) translateY(0) scale(0);
    }

    3% {
        transform: rotate(300deg) translateY(0.2em) scale(1);
    }

    97% {
        transform: rotate(300deg) translateY(7.3em) scale(1);
    }

    to {
        transform: rotate(300deg) translateY(7.5em) scale(0);
    }
}

@keyframes ripple {

    from,
    to {
        width: 0.2em;
    }

    33% {
        width: 2.4em;
    }
}

.separation {
    margin-top: 25%;
    margin-bottom: 25%;
}




@media screen and (max-width: 575px) {
    .separation {
        margin-top: 60% !important;
        margin-bottom: 60% !important;
    }

}

@media screen and (min-width: 576px) {
    .separation {
        margin-top: 60% !important;
        margin-bottom: 60% !important;
    }
}

@media screen and (min-width: 768px) {
    .separation {
        margin-top: 60% !important;
        margin-bottom: 60%;
    }
}

@media screen and (min-width: 992px) {
    .separation {
        margin-top: 20% !important;
        margin-bottom: 50% !important;
    }
}

@media screen and (min-width: 1200px) {
    .separation {
        margin-top: 30%;
        margin-bottom: 25%;
    }
}

@media screen and (min-width: 1400px) {
    .separation {
        margin-top: 25% !important;
        margin-bottom: 30% !important;
    }

}








.hiddenElem {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 1100ms ease, transform 1100ms ease, visibility 0s 1100ms;

}

.showElem {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 1100ms ease, transform 1100ms ease, visibility 0s;
}